Package: cgn
Version: 1.656-20070902
Architecture: all
Maintainer: Mathieu Roy <moa@attique.org>
Installed-Size: 456
Depends: perl-base (>= 5.6.0), perl-modules, coreutils (>= 4.5.0) | fileutils (>= 4.1), bash (>= 2.04), findutils (>= 4.1), apt-utils, gzip (>= 1), ssh, cvs2cl, dhcp3-client, libnet-dns-perl, libfile-find-rule-perl, cgn-depends, vorbis-tools, id3tool
Section: admin
Priority: optional
Description: Stuff useful on CGN computers.
 .
 Homepage: https://gate.attique.ici/
