Source: stalag13-utils
Section: admin
Priority: optional
Maintainer: Mathieu Roy <yeupou@gnu.org>
Standards-Version: 3.5.9.0

Package: stalag13-utils
Architecture: all
Depends: perl-base (>=5.6.0), perl-modules, coreutils (>=4.5.0) | fileutils (>=4.1), bash (>=2.04), findutils (>=4.1), apt-utils, gzip (>=1), libnet-dns-perl, libfile-find-rule-perl, libapt-pkg-perl, libterm-readkey-perl, libfile-homedir-perl, libdate-calc-perl, libcalendar-simple-perl, libtimedate-perl, debfoster, localepurge, etckeeper, ntp | openntpd, lltag, liblwp-authen-oauth-perl, libmoose-perl, libnet-oauth-perl, liburi-encode-perl, libimage-exiftool-perl, libjson-perl, libio-interactive-perl, libhtml-tableextract-perl, libnumber-bytes-human-perl, bash-completion, libtext-unaccent-perl
Conflicts: ntpdate, darius-admin, darius-misc, darius-sound, darius-text
Recommends: stalag13-keyring, sound-theme-freedesktop, libcache-memcached-perl
Suggests: libaudio-mixer-perl, stalag13-utils-cache-apt
Description: Utmost generic stuff from stalag13
 .
 Homepage: https://yeupou.wordpress.com/

Package: stalag13-utils-cache-apt
Architecture: all
Depends: stalag13-utils, nginx, stalag13-utils-cache-spoof
Conflicts: stalag13-utils (<<3.166)
Description: APT downloads cache setup
 Needs writable to nginx directories such as /var/www/debian
 .
 Homepage: https://yeupou.wordpress.com/

Package: stalag13-utils-cache-steam
Architecture: all
Depends: stalag13-utils, nginx, stalag13-utils-cache-spoof
Conflicts: stalag13-utils (<<3.166)
Description: Steam downloads cache setup
 Needs writable to nginx directories such as /var/www/depot
 .
 Homepage: https://yeupou.wordpress.com/
 
Package: stalag13-utils-cache-spoof
Architecture: all
Depends: stalag13-utils, nginx
Conflicts: stalag13-utils (<<3.166)
Description: DNS spoofer needed by cache setups
 /etc/dnsspoof.conf must be edited
 .
 Homepage: https://yeupou.wordpress.com/

Package: stalag13-utils-nginx
Architecture: all
Depends: stalag13-utils, nginx, spawn-fcgi
Conflicts: stalag13-utils (<<3.166)
Description: Perl/PHP fastcgi setup and nginx files
 .
 Homepage: https://yeupou.wordpress.com/

Package: stalag13-utils-cloud
Architecture: all
Depends: stalag13-utils, nginx, owncloud, stalag13-utils-nginx
Conflicts: stalag13-utils (<<3.166)
Description: Owncloud setup and apps 
 .
 Homepage: https://yeupou.wordpress.com/

Package: stalag13-utils-webmail
Architecture: all
Depends: stalag13-utils, nginx, roundcube, stalag13-utils-nginx
Conflicts: stalag13-utils (<<3.166)
Description: Roundcube setup and plugins
 .
 Homepage: https://yeupou.wordpress.com/



Package: stalag13-keyring
Architecture: all
Depends: apt-transport-https
Conflicts: stalag13-utils (<<3.133)
Description: Keyring used to signed packages along with repository set-up
 .
 Homepage: https://yeupou.wordpress.com/

Package: stalag13-utils-ahem
Architecture: all
Depends: stalag13-utils
Conflicts: stalag13-utils (<<3.166)
Description: Utmost non-generic stuff that no one else probably needs
 .
 Homepage: https://yeupou.wordpress.com/