[Unit]
Description=unset any settings that hdparm may have set but could not be unset on crappy other operating systems (S0 = standby off)
Before=shutdown.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/bin/bash -c "for disk in `/bin/ls --color=never -1 /dev/disk/by-path/* | /bin/grep -v part`; do /sbin/hdparm -S 0 $disk; done"

[Install]
WantedBy=shutdown.target
